@font-face { font-family: SimpsonFont; src: url('Simpsonfont.otf'); } 



body{
    background-color: #2a94eb;
    background-image: url("img/cielo.jpg");
    background-attachment: fixed;
    text-align: center;
    font-family: SimpsonFont
}

h1{
    color: yellow;
    text-shadow: 3px 3px #000000;
    font-size: 3em;
}


.tagline{
    font-size: 1.2em;
}

.strip{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cap-card{
    border: 2px yellow solid;
    padding: 5px 15px 15px 15px;
    justify-content: center;
    margin: 5px;
    background-color: yellow;
}
.cap-cover{
    width: 300px;
}

@media only screen and (max-width: 1000px) {
   
    .strip{
        display: block;
        width: fit-content;
        justify-self: center;
        margin: auto;
    }
    .cap-card{
        /* position:relative; */
        padding: 0px 5px 5px 5px;
        justify-content: center;
        margin: 5px;
        background-color: yellow;
    }
   
  } 