@font-face { font-family: SimpsonFont; src: url('Simpsonfont.otf'); } 


body{
    background-color: #2a94eb;
    background-image: url("img/cielo.jpg");
    background-attachment: fixed;
    text-align: center;
    font-family: SimpsonFont
}

h1{
    color: yellow;
    text-shadow: 3px 3px #000000;
    font-size: 3em;
}

.tagline{
    font-size: 1.2em;
}

.strip{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cap-card{
    border: 2px yellow solid;
    padding: 5px 15px 15px 15px;
    align-self: center;
    margin: 5px;
    background-color: yellow;
}
.cap-cover{
    height: 20opx;
    width: 300px;
}